.form-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 16px;
    background-color: #9999a0; 
    border: 1px solid #e0e0e0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
  }
  
  mat-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: #1976d2; 
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-form-field {
    display: block;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .edit{
    padding: 60px;
  }

